.todo-app {
	width: 400px;
	padding: 15px;
	border: 1px solid black;
	margin: auto;
	border-radius: 4px;
}

.todo-list {
	list-style: none;
	padding: 0;
}

.todo-item {
	user-select: none;
	padding: 5px 0;
}

.todo-item button {
	margin-left: 5px;
	background: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 50%;
	border: none;
	color: red;
}

.todo-item button:hover {
	color: darkred;
}

.todo-filter {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	user-select: none;
}

.todo-filter li + li {
	margin-left: 15px;
}
